/* ==========================================================================
   TABLES
   ========================================================================== */

table {
  margin-bottom: 0.5em;
  width: 100%;
  table-layout: fixed; /* This makes all columns equal width */
  font-family: $global-font-family;
  font-size:  $type-size-6;;
  border-collapse: collapse;
  border: none;

  & + table {
    margin-top: 0.5em;
  }
}

thead {
  background-color: $lighter-gray;
  border-bottom: none;
}

th {
  padding: 0.5em;
  font-weight: bold;
  text-align: left;
  border-right: 1px solid none;
  font-size:  $type-size-6;
}

td {
  padding: 0.5em;
  border-bottom: 1px solid none;
  border-right: 1px solid none;
  font-size: $type-size-6;
}

tr, td, th {
  vertical-align: middle;
}
