---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
  </head>

  <body>

    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="home__section">
      <h2>Recent Blog Posts</h2>
        <ul>
          {% for post in site.posts limit:5 %}
              <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                  <p>{{ post.excerpt }}</p>
                  <p class="post-date">{{ post.date | date: "%B %d, %Y" }}</p> <!-- Format date nicely -->
              </li>
          {% endfor %}
        </ul>
      </div>

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
